<p>dashhboard works!</p>
<div *ngFor="let message of messages$ | async" >
	<p>{{ message.content }}</p>
</div>

<form [formGroup]="messageForm" (ngSubmit)="submit(messageForm.value)">
	<input name="content" formControlName="content" type="text">
	<button type="submit">Send</button>
</form>
